$main-green: rgba(91, 169, 91);
$main-green-dark: #0e4203;
$main-green-resalted: #2ec510;
$body-background-color: rgba(13, 35, 23, 0.38);

/* $main-green: red;
$main-green-dark: rgb(60, 4, 4);
 */

$buttons-hover-color:$main-green-dark;
$buttons-primary-color:$main-green;
$card-background-color: #ede4e4;
$navbar-background-color: $main-green;
$index-banner-button-color: $main-green-resalted;
