@use "colorStyles" as *;

.navbar-custom {
  background-color: $navbar-background-color;
  padding: 10px;
  a {
    color: white;
    transition: color 0.5s ease-in-out;
    &:hover {
      color: black;
      &::after {
        clip-path: circle(100% at center);
      }
    }
  }
  span {
    color: white;
  }
}

.navbar-nav .nav-link.active {
  color: rgb(224, 233, 224);
}

.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  --bs-navbar-toggler-border-color: white;
}

.navbar-brand-index-only {
  animation: rotateMainTittle 0.5s linear 2;
  transform-origin: center;
}

@keyframes rotateMainTittle {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}