@use "colorStyles" as *;

.navbar-custom{
  background-color: $navbar-background-color;
  padding: 10px;
  a{
    color: white;
  }
  span{
    color: white;
  }
}
.navbar-nav .nav-link.active {
  color: rgb(224, 233, 224); 
}
.navbar-toggler-icon {
 --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler 
{
  --bs-navbar-toggler-border-color: white;
}  

