@charset "UTF-8";
.product-quantity-container, .product-size-container, .product-price-container, .product-description-container, .product-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-shop-container, .product-quality-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-description-container, .product-img-container {
  border-bottom: 0.5px solid #000000;
}

.product-price-container {
  border-bottom: 1px solid #000000;
}

.product-price-container, .product-description-container {
  border-top: 0.5px solid #000000;
}

.product-quantity-container, .product-size-container {
  border-right: 0.5px solid #000000;
}

.product-price-container, .product-description-container, .product-img-container {
  grid-column: 1/span 2;
  width: 90%;
}

/* Resetear márgenes y rellenos por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cards Catalogo */
.lista-catalogo {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.product-card-container {
  display: grid;
  width: 300px;
  border-radius: 15px;
  background-color: #ede4e4;
  grid-template-areas: "product-img-container" "product-description-container" "product-price-container" "product-size-container" "product-quantity-container" "product-quality-container" "product-shop-container";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto auto;
  justify-content: center;
  justify-items: center;
  font-size: 10px;
  text-align: center;
}

.product-img-container {
  grid-row: 1;
  padding-top: 20px;
  padding-bottom: 10px;
}
.product-img-container img {
  width: 60%;
  height: auto;
}

.product-description-container {
  grid-row: 2;
  height: auto;
}
.product-description-container p {
  width: 90%;
  font-size: 10px;
  margin: 5px;
}

.product-price-container {
  grid-row: 3;
  height: 30px;
}
.product-price-container p {
  font-size: 20px;
  margin: 5px;
  font-weight: bold;
}

.product-size-container {
  grid-row: 4;
  grid-column: 1;
  width: 100%;
  flex-direction: column;
}
.product-size-container p {
  margin: 5px;
  font-size: 10px;
}
.product-size-container select {
  width: 80%;
  height: 30px;
  outline: none;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
}

.product-quantity-container {
  grid-row: 5;
  grid-column: 1;
  width: 100%;
  flex-direction: column;
  padding-bottom: 10px;
}
.product-quantity-container input {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
  font-size: 10px;
  text-align: center;
}
.product-quantity-container p {
  margin: 5px;
  font-size: 10px;
}

.product-quality-container {
  grid-row: 4/span 2;
  grid-column: 2;
  width: 100%;
  border-left: 0.5px solid #000000;
}
.product-quality-container p {
  margin: 5px;
  font-size: 10px;
}

.product-shop-container {
  grid-row: 6;
  grid-column: 1/span 2;
  padding-bottom: 5px;
  padding-top: 5px;
}
.product-shop-container button {
  height: 33px;
  border-radius: 5px;
  font-size: 10px;
  background-color: #0e4203;
  margin: 5px;
  border: none;
  transition: background 0.3s;
}
.product-shop-container button:hover {
  background: rgb(91, 169, 91);
}
.product-shop-container p {
  color: #fff;
  font-size: 16px;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
}

/* Estilo para el contenedor */
.catalogo-image-container {
  position: relative;
  /* Permite superponer elementos */
  width: auto;
  /* Ancho del contenedor */
  height: auto;
  /* Alto del contenedor */
  border-radius: 15px;
  /* Bordes redondeados */
  overflow: hidden;
  /* Asegura que todo quede dentro del contenedor */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra sutil */
}
.catalogo-image-container img {
  width: 100%;
  height: auto;
}

/* body{
  background-color: $secondary-color;
  color: aliceblue;
}

.navbar{
  background-color: $primary-color;
  ul{
    list-style: none;
    li{
      display: inline-block;
      padding: 10px;
      a{
        color: white;
      } 
    }
  }
}
 */

/*# sourceMappingURL=styles.css.map */
