@charset "UTF-8";
/* $main-green: red;
$main-green-dark: rgb(60, 4, 4);
$main-green-resalted: rgb(255, 30, 0);
 */
/* Resetear márgenes y rellenos por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cards Catalogo */
.product-img-container {
  border-bottom: 0.5px solid #000000;
}

.product-description-container {
  border-bottom: 0.5px solid #000000;
  border-top: 0.5px solid #000000;
}

.product-price-container {
  border-top: 0.5px solid #000000;
}

.product-size-container {
  border-right: 0.5px solid #000000;
}

.product-quantity-container {
  border-right: 0.5px solid #000000;
}

.product-quality-container {
  border-left: 0.5px solid #000000;
}

.lista-catalogo {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.product-card-container {
  display: grid;
  width: 300px;
  border-radius: 15px;
  background-color: #ede4e4;
  grid-template-areas: "product-img-container", "product-description-container", "product-price-container", "product-size-container", "product-quantity-container", "product-quality-container", "product-shop-container";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto auto;
  justify-content: center;
  justify-items: center;
  font-size: 10px;
  text-align: center;
}

.product-img-container {
  grid-row: 1;
  grid-column: 1/span 2;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.product-img-container img {
  width: 60%;
  height: auto;
}

.product-description-container {
  grid-row: 2;
  grid-column: 1/span 2;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-description-container p {
  width: 90%;
  font-size: 10px;
  margin: 5px;
}

.product-price-container {
  grid-row: 3;
  grid-column: 1/span 2;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000000;
  border-top: 0.5px solid #000000;
  height: 30px;
}
.product-price-container p {
  font-size: 20px;
  margin: 5px;
  font-weight: bold;
}

.product-size-container {
  grid-row: 4;
  grid-column: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid #000000;
}
.product-size-container p {
  margin: 5px;
  font-size: 10px;
}
.product-size-container select {
  width: 80%;
  height: 30px;
  outline: none;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
}

.product-quantity-container {
  grid-row: 5;
  grid-column: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid #000000;
  padding-bottom: 10px;
}
.product-quantity-container input {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
  font-size: 10px;
  text-align: center;
}
.product-quantity-container p {
  margin: 5px;
  font-size: 10px;
}

.product-quality-container {
  grid-row: 4/span 2;
  grid-column: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 0.5px solid #000000;
}
.product-quality-container p {
  margin: 5px;
  font-size: 10px;
}

.product-shop-container {
  grid-row: 6;
  grid-column: 1/span 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
}
.product-shop-container button {
  height: 33px;
  border-radius: 5px;
  font-size: 10px;
  background-color: rgb(91, 169, 91);
  margin: 5px;
  border: none;
  transition: background 0.3s;
}
.product-shop-container button:hover {
  background: #0e4203;
}
.product-shop-container p {
  color: #fff;
  font-size: 16px;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
}

.catalogo-image-container {
  position: relative;
  width: auto;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.catalogo-image-container img {
  width: 100%;
  height: auto;
}

.navbar-custom {
  background-color: rgb(91, 169, 91);
  padding: 10px;
}
.navbar-custom a {
  color: white;
  transition: color 0.5s ease-in-out;
}
.navbar-custom a:hover {
  color: black;
}
.navbar-custom a:hover::after {
  clip-path: circle(100% at center);
}
.navbar-custom span {
  color: white;
}

.navbar-nav .nav-link.active {
  color: rgb(224, 233, 224);
}

.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  --bs-navbar-toggler-border-color: white;
}

.navbar-brand-index-only {
  animation: rotateMainTittle 0.5s linear 2;
  transform-origin: center;
}

@keyframes rotateMainTittle {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
body {
  font-family: Arial, sans-serif;
  background-color: rgba(13, 35, 23, 0.38);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer-custom-color {
  background-color: black;
}

@media (max-width: 576px) {
  .custom-font-index-banner h5 {
    font-size: 0.875rem;
  }
  .custom-font-index-banner p {
    font-size: 0.5rem;
  }
  .custom-font-index-banner p a {
    font-size: 0.5rem;
  }
}
.index-banner-button {
  background-color: #2ec510;
  transition: background 0.3s;
  color: white;
}

.card-product-index-color {
  background-color: #ede4e4;
}
.card-product-index-color a {
  background-color: rgb(91, 169, 91);
  transition: background 0.3s;
  color: white;
}
.card-product-index-color a:hover {
  background: #0e4203;
  color: white;
}

.card-demostracion-color {
  background-color: rgba(0, 0, 0, 0.7333333333);
}
.card-demostracion-color a {
  color: white;
  background-color: rgb(91, 169, 91);
  transition: background 0.3s;
}
.card-demostracion-color a:hover {
  background: #0e4203;
}

.accordion-item {
  border: none;
}

.accordion-button {
  background: rgba(0, 0, 0, 0.85);
  color: white;
}
.accordion-button:hover {
  background: rgba(0, 0, 0, 0.9);
  color: white;
}
.accordion-button::selection {
  color: white;
}
.accordion-button:not(.collapsed) {
  background: rgb(91, 169, 91);
  color: white;
}

#contacto-form {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#contacto-form label {
  display: block;
  font-weight: bold;
  color: white;
}
#contacto-form input,
#contacto-form select,
#contacto-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
}
#contacto-form button {
  width: 100%;
  background: rgb(91, 169, 91);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background 0.3s;
}
#contacto-form button:hover {
  background: #0e4203;
}

.contacto-desc-justify {
  text-align: justify;
}

.predicciones {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  gap: 5px;
  place-items: center;
}
.predicciones button {
  width: auto;
  background: rgb(91, 169, 91);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background 0.3s;
}
.predicciones button:hover {
  background: #0e4203;
}
.predicciones label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}
.predicciones input, .predicciones select {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid rgb(91, 169, 91);
  border-radius: 5px;
  background: #f9f9f9;
  color: #333;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-bottom: 15px;
}
.predicciones input:focus, .predicciones select:focus {
  border-color: rgb(91, 169, 91);
  box-shadow: 0 0 8px rgb(91, 169, 91);
  outline: none;
}

.maze-bank {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  gap: 5px;
  place-items: center;
}
.maze-bank img {
  width: 50vh;
  height: auto;
  background-color: #fff;
}

.social-offer {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  gap: 10px;
  place-items: center;
}
.social-offer button {
  width: auto;
  background: rgb(91, 169, 91);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background 0.3s;
}
.social-offer button:hover {
  background: #0e4203;
}

.flipper {
  width: 90%;
  height: 90%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.front, .front-card-1, .front-card-2, .front-card-3, .back, .back-card-1, .back-card-2, .back-card-3 {
  width: 100%;
  height: 75%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

@media (max-width: 576px) {
  .front, .front-card-1, .front-card-2, .front-card-3, .back, .back-card-1, .back-card-2, .back-card-3 {
    width: 90%;
  }
}
.front {
  background: #ede4e4;
  color: white;
  background-image: url("/img/ofertas/mercadopago_oferta.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front-card-1 {
  background: #ede4e4;
  color: white;
  background-image: url("/img/ofertas/mercadopago_oferta.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front-card-2 {
  background: #ede4e4;
  color: white;
  background-image: url("/img/ofertas/2x1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front-card-3 {
  background: #ede4e4;
  color: white;
  background-image: url("/img/ofertas/free_shipping.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  background: #ede4e4;
  background-image: url("/img/ofertas/mercadopago_oferta.jpg");
  background-size: cover;
  background-position: center;
  color: black;
  transform: rotateY(180deg);
  padding: 10px;
  text-align: center;
}
.back::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  z-index: -1;
  border-radius: 10px;
}

.back-card-1 {
  background: #ede4e4;
  background-image: url("/img/ofertas/mercadopago_oferta.jpg");
  background-size: cover;
  background-position: center;
  color: black;
  transform: rotateY(180deg);
  padding: 10px;
  text-align: center;
}
.back-card-1::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  z-index: -1;
  border-radius: 10px;
}

.back-card-2 {
  background: #ede4e4;
  background-image: url("/img/ofertas/2x1.jpg");
  background-size: cover;
  background-position: center;
  color: black;
  transform: rotateY(180deg);
  padding: 10px;
  text-align: center;
}
.back-card-2::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  z-index: -1;
  border-radius: 10px;
}

.back-card-3 {
  background: #ede4e4;
  background-image: url("/img/ofertas/free_shipping.jpg");
  background-size: cover;
  background-position: center;
  color: black;
  transform: rotateY(180deg);
  padding: 10px;
  text-align: center;
}
.back-card-3::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  z-index: -1;
  border-radius: 10px;
}

.flip-checkbox {
  display: none;
}

.flip-checkbox:checked + .flip-container .flipper {
  transform: rotateY(180deg);
}

.card-carousel {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-container {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ofertas-button-colors {
  width: auto;
  background: rgb(91, 169, 91);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background 0.3s;
}
.ofertas-button-colors:hover {
  background: #0e4203;
}

.card-content {
  background: rgba(0, 0, 0, 0.6); /* Fondo oscuro semitransparente */
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.back-card-content {
  position: relative;
  background: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
  color: white;
  text-align: center;
  width: 100%;
  bottom: 0;
  padding: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

/*# sourceMappingURL=styles.css.map */
