@use "cardStyles";
@use "navbarStyles";
@use "colorStyles" as *;

body {
  font-family: Arial, sans-serif;
  background-color: $body-background-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer-custom-color {
  background-color: black;
}

@media (max-width: 576px) {
  .custom-font-index-banner h5 {
    font-size: 0.875rem;
  }

  .custom-font-index-banner p {
    font-size: 0.5rem;
  }

  .custom-font-index-banner p a {
    font-size: 0.5rem;
  }
}

.index-banner-button {
  background-color: $index-banner-button-color;
  transition: background 0.3s;
  color: white;
}

.card-product-index-color {
  background-color: #ede4e4;
  a {
    background-color: $buttons-primary-color;
    transition: background 0.3s;
    color: white;
  }
  a:hover {
    background: $buttons-hover-color;
    color: white;
  }
}

.card-demostracion-color {
  background-color: #000000bb;
  a {
    color: white;
    background-color: $buttons-primary-color;
    transition: background 0.3s;
  }
  a:hover {
    background: $buttons-hover-color;
  }
}

.accordion-item {
  border: none;
}

.accordion-button {
  background: $accordion-item-color;

  color: white;
  &:hover {
    background: $accordion-item-hover-color;
    color: white;
  }
  &::selection {
    color: white;
  }
  &:not(.collapsed) {
    background: $accordion-item-background-color;
    color: white;
  }
}

#contacto-form {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  label {
    display: block;
    font-weight: bold;
    color: white;
  }
  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
  }
  button {
    width: 100%;
    background: $buttons-primary-color;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background 0.3s;
    &:hover {
      background: $buttons-hover-color;
    }
  }
}

.contacto-desc-justify {
  text-align: justify;
}

.predicciones {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  gap: 5px;
  place-items: center;
  button {
    width: auto;
    background: $buttons-primary-color;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background 0.3s;
    &:hover {
      background: $buttons-hover-color;
    }
  }
  label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  input,select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid $buttons-primary-color;
    border-radius: 5px;
    background: #f9f9f9;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-bottom: 15px;
    &:focus {
      border-color: $buttons-primary-color;
      box-shadow: 0 0 8px $buttons-primary-color;
      outline: none;
    }
  }
}

.maze-bank {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  gap: 5px;
  place-items: center;
  img {
    width: 50vh;
    height: auto;
    background-color: #fff;
  }
}

.social-offer {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  gap: 10px;
  place-items: center;
  button {    
    width: auto;
    background: $buttons-primary-color;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background 0.3s;
    &:hover {
      background: $buttons-hover-color;
    }
  }
}

.flipper {
  width: 90%;
  height: 90%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.front, .front-card-1,.front-card-2,.front-card-3,.back, .back-card-1,.back-card-2,.back-card-3 {
  width: 100%;
  height: 75%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

@media (max-width: 576px) {
  .front,.front-card-1,.front-card-2,.front-card-3, .back,.back-card-1,.back-card-2,.back-card-3 {
  width: 90%;
  }
}

.front {
  background: $card-background-color;
  color: white;
  background-image: url('/img/ofertas/mercadopago_oferta.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin front-offer-card($img-url:null){
  background: $card-background-color;
  color: white;
  background-image: url($img-url);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front-card-1{
  @include front-offer-card('../img/ofertas/mercadopago_oferta.jpg');
}

.front-card-2{
  @include front-offer-card('../img/ofertas/2x1.jpg');
}

.front-card-3{
  @include front-offer-card('../img/ofertas/free_shipping.jpg');
}


.back {
  background: $card-background-color;
  background-image: url('/img/ofertas/mercadopago_oferta.jpg');
  background-size: cover;
  background-position: center;
  color: black;
  transform: rotateY(180deg);
  padding: 10px;
  text-align: center;
  &::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    z-index: -1; 
    border-radius: 10px; 
  }
}

@mixin back-offer-card($img-url:null) 
{
  background: $card-background-color;
  background-image: url($img-url);
  background-size: cover;
  background-position: center;
  color: black;
  transform: rotateY(180deg);
  padding: 10px;
  text-align: center;
  &::after{
    content: "";
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    z-index: -1; 
    border-radius: 10px;  
  }
}




.back-card-1{
  @include back-offer-card('../img/ofertas/mercadopago_oferta.jpg');
}

.back-card-2{
  @include back-offer-card('../img/ofertas/2x1.jpg');
}

.back-card-3{
  @include back-offer-card('../img/ofertas/free_shipping.jpg');  
}

.flip-checkbox {
  display: none;
}

.flip-checkbox:checked + .flip-container .flipper {
  transform: rotateY(180deg);
}

.card-carousel {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.flip-container{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ofertas-button-colors {
    width: auto;
    background: $buttons-primary-color;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background 0.3s;
    &:hover {
      background: $buttons-hover-color;
    }
}

.card-content {
  background: rgba(0, 0, 0, 0.6); /* Fondo oscuro semitransparente */
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.back-card-content {
  position:relative;
  background: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
  color: white;
  text-align: center;
  width: 100%;
  bottom: 0;
  padding: 20px;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
