@use "cardStyles";
@use "navbarStyles";
@use "colorStyles" as *;

body {
  font-family: Arial, sans-serif;
  background-color: $body-background-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.footer-custom-color{
  background-color: black;
}

@media (max-width: 576px) {
  .custom-font-index-banner h5{
    font-size: 0.875rem;
  }
  .custom-font-index-banner p{
    font-size: 0.5rem;
  }
  .custom-font-index-banner p a{
    font-size: 0.5rem;
  }
}

.index-banner-button
{
  background-color: $index-banner-button-color;
  transition: background 0.3s;
  color: white;
}

/* .card-product-index-color{ 
  background-color: $card-background-color;
}
 */

.card-product-index-color
{
  background-color: #ede4e4;
  a{
    background-color: $buttons-primary-color;
    transition: background 0.3s;
    color: white;
  
  }
  a:hover{
    background:$buttons-hover-color;
    color: white;
  }
}


/* .accordion-item{
  border: none;
}
.accordion-button{
  background:rgba(0, 0, 0, 0.85);
  color: white;
  :hover{
    background:rgba(0, 0, 0, 0.9);
    color: white;  
  }
  :selection{
    color: white;
  }
  :not(.collapsed){
    background: rgba(91, 169, 91);
    color: white;
  }
}  */